@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;

  --font-sans: InterVariable;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 10px; /* Positions the icon at the end */
  left: auto;
}
